
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,600;0,800;1,200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito",sans-serif;
}

/* body{
    padding: 0px 30px;
} */

.Hero{
background-color:  white
}

/* Navbar  */
.nav-bar{
    padding: 0px 50px ;
    height: 70px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
 
}


.nav-bar h2 {
font-size: 40px;
}
.nav-bag{
    display: flex;
    align-items: center;
    position: relative;

}

.nav-bar a {
    text-decoration-line: none ;
    color: #12306a;
}

.bag-quantity{
    display: flex;
    align-items: center;
    justify-self: center;
    text-align: center;
    height: 20px;
    width: 20px;
    text-decoration-line: none;
    background-color:#008dff; 
    border-radius: 50%;
    margin: 0 auto;
    padding-left: 6PX;
    position: absolute;
    top: 0px;
    left: 30px;
    right: 0px;
    bottom: 0px;

}

/* Not found  */

.not-found{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
  color:#008dff; 
  cursor: pointer;


}

.not-found h1 {
    font-size: 55px;
}

.not-found p {
    font-size: 20px;
}